@model Final___Lab2.Models.FeedBack

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Krijo FeedBack</h1>

<h4>FeedBack</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FeedBackId" class="control-label"></label>
                <input disabled asp-for="FeedBackId" class="form-control" />
                <span asp-validation-for="FeedBackId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Field" class="control-label"></label>
                <input asp-for="Field" class="form-control" />
                <span asp-validation-for="Field" class="text-danger"></span>
            </div>

             <div class="col-md-12">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>
                                    Sherbimet
                                </th>
                                <th>
                                     Arsyja
                                </th>
                                <th>
                                    Vlersimi
                                </th>
                            </tr>
                        </thead>
                      <tbody>
                            @*  @foreach (var item in Model.Terapis)*@
                              @for (int i=0; i < Model.Detajets.Count; i++)
                                {
                                    <tr>
                                        <td>
                                            @Html.EditorFor(x=> x.Detajets[i].Sherbimet, new{htmlAttributes = new { @class = "form-control"}})
                                            @*<input asp-for="@item.Semundje" class="form-control" />*@
                                        </td>
                                        <td>
                                            @Html.EditorFor(x=> x.Detajets[i].Arsyja, new{htmlAttributes = new { @class = "form-control"}})
                                            @*<input asp-for="@item.Barnat" class="form-control" />*@
                                        </td>
                                        <td>
                                            @Html.EditorFor(x=> x.Detajets[i].Vlersimi, new{htmlAttributes = new { @class = "form-control"}})
                                            @*<input asp-for="@item.Kohezgjatja" class="form-control" />*@
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                     </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">&nbsp;Back&nbsp;</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@section Styles{
    <link rel="stylesheet" href="~/css/keyframe.css" />
}