@model IEnumerable<Final___Lab2.Models.FeedBack>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>FeedBack Response</h1>

<p>
    <a asp-action="Create" class="btn btn-danger">Create New</a>
</p>
<table class="table table-bordered border-dark">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FeedBackId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FeedBackId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id=item.FeedBackId}, new { @class = "btn btn-success", @style = "color:white" })
                @*@Html.ActionLink("Delete", "Delete", new {id=item.FeedBackId}, new { @class = "btn btn-danger", @style = "color:white" })*@
            </td>
        </tr>
}
    </tbody>
</table>
@section Styles{
    <link rel="stylesheet" href="~/css/keyframe.css" />
}