@model IEnumerable<Final___Lab2.Models.Terapi>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table table-bordered border-dark">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TerapiId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PacientiId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semundje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Barnat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kohezgjatja)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TerapiId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PacientiId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semundje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Barnat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kohezgjatja)
            </td>
            
        </tr>
}
    </tbody>
</table>
@section Styles{
    <link rel="stylesheet" href="~/css/keyframe.css" />
}