@model Final___Lab2.Models.Technical

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Technical</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TechnicalId" class="control-label"></label>
                <input asp-for="TechnicalId" class="form-control" />
                <span asp-validation-for="TechnicalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NrPersonal" class="control-label"></label>
                <input asp-for="NrPersonal" class="form-control" />
                <span asp-validation-for="NrPersonal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Emri" class="control-label"></label>
                <input asp-for="Emri" class="form-control" />
                <span asp-validation-for="Emri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mbiemri" class="control-label"></label>
                <input asp-for="Mbiemri" class="form-control" />
                <span asp-validation-for="Mbiemri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pervoja" class="control-label"></label>
                <input asp-for="Pervoja" class="form-control" />
                <span asp-validation-for="Pervoja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shkollimi" class="control-label"></label>
                <input asp-for="Shkollimi" class="form-control" />
                <span asp-validation-for="Shkollimi" class="text-danger"></span>
            </div>

            <div class="col-md-12">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>
                                    Dita
                                </th>
                                <th>
                                     Koha
                                </th>
                                <th>
                                    Java
                                </th>
                            </tr>
                        </thead>
                      <tbody>
                            @*  @foreach (var item in Model.Terapis)*@
                              @for (int i=0; i < Model.OrariPunes.Count; i++)
                                {
                                    <tr>
                                        <td>
                                            @Html.EditorFor(x=> x.OrariPunes[i].Dita, new{htmlAttributes = new { @class = "form-control"}})
                                            @*<input asp-for="@item.Semundje" class="form-control" />*@
                                        </td>
                                        <td>
                                            @Html.EditorFor(x=> x.OrariPunes[i].Koha, new{htmlAttributes = new { @class = "form-control"}})
                                            @*<input asp-for="@item.Barnat" class="form-control" />*@
                                        </td>
                                        <td>
                                            @Html.EditorFor(x=> x.OrariPunes[i].Java, new{htmlAttributes = new { @class = "form-control"}})
                                            @*<input asp-for="@item.Kohezgjatja" class="form-control" />*@
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                     </div>
                     <div class="col-md-12">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>
                                    Emri
                                </th>
                                <th>
                                     Peshkrimi
                                </th>
                            </tr>
                        </thead>
                      <tbody>
                            @*  @foreach (var item in Model.Terapis)*@
                              @for (int i=0; i < Model.Analizats.Count; i++)
                                {
                                    <tr>
                                        <td>
                                            @Html.EditorFor(x=> x.Analizats[i].Emri, new{htmlAttributes = new { @class = "form-control"}})
                                            @*<input asp-for="@item.Semundje" class="form-control" />*@
                                        </td>
                                        <td>
                                            @Html.EditorFor(x=> x.Analizats[i].Pershkerimi, new{htmlAttributes = new { @class = "form-control"}})
                                            @*<input asp-for="@item.Barnat" class="form-control" />*@
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                     </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
