@model IEnumerable<Final___Lab2.Models.Technical>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-danger">Create New</a>
</p>
<table class="table table-bordered border-dark">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TechnicalId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NrPersonal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mbiemri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pervoja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shkollimi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TechnicalId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrPersonal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mbiemri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pervoja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shkollimi)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id=item.TechnicalId}, new { @class = "btn btn-success", @style = "color:white" })
            </td>
        </tr>
}
    </tbody>
</table>
@section Styles{
    <link rel="stylesheet" href="~/css/keyframe.css" />
}